  {% load static %}
<!DOCTYPE html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'app_inicial/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  
  <body>

    <nav class="navbar fixed-top navbar-light bg-light justify-content-between">
      
  
      <div class="container">
  
        <div class="fs-2 mb-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="45" fill="currentColor" class="bi bi-chevron-bar-contract" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 14.854a.5.5 0 0 0 .708 0L8 11.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zm0-13.708a.5.5 0 0 1 .708 0L8 4.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z"/>
          </svg>
          U-Tutores
      </div>
  
     <p>
  
        <div class="input-group w-50">
           <span class="input-group-text" id="basic-addon1">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
              </svg>
            </span>
        <input type="text" class="form-control" placeholder="Search topic" aria-label="Input group example" aria-describedby="basic-addon1">
        </div>
  
        <a href="{% url 'home' %}">  
          <button type="button" class="btn btn-outline-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
              <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
              <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
            </svg>
            Home
          </button>
        </a> 
  
          <a href="{% url 'profile' %}">  
          <button type="button" class="btn btn-outline-danger" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            Profile
          </button>
          </a>
    
  
         <a href="{% url 'logout' %}">  
           <button type="button" class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
              <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
              <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
           </svg>
           <span class="visually-hidden">Button</span>
           </button>
        </a>  
  
     </p>
  </div>
    
  </form>
  
  
        </ul>
      </div>
     </div>
    </nav>

  <!-- End of Navbar -->
  <!-- boton de creacion de post's -->
  <!-- Start of post's-->
  <div class="container">
    <div>
      <h2>hola</h2>
      <a href="hola.cl">holaaaaaaaaa</a>
    </div>


      <h2>Historial</h2>
      <p>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Tutor</th>
                      <th scope="col">Materia</th>
                      <th scope="col">Horario</th>
                      <th scope="col">Costo</th>
                      <th scope="col">Calificación</th>
                      <th scope="col">Descripcion</th>
                  </tr>
              </thead>
              <tbody>
                  {% for publicacion in publicaciones %}
                  <tr>
                      <td>{{tutor.date}}</td>
                      <td>{{tutor.tutor}}</td>
                      <td>{{tutor.subject}}</td>
                      <td>{{tutor.schedule}}</td>
                      <td>{{tutor.cost}}</td>
                      <td>{{tutor.rating}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </p>
  </div>

  </body>
  </html>
  
  
  